language: node_js
node_js:
  - "stable"
env:
  - CI=true
# 默认是yarn, 如果有yarn.lock的话
install:
  - yarn
# 默认是 yarn test
script:
  - yarn build-storybook
cache: yarn
deploy: 
  provider: pages
  skip-cleanup: true
  local-dir: storybook-static
  on:
    branch: master
  github-token: $GITHUB_TOKEN